* {
    font-family: 'Red Hat Display';font-size: 22px;
}

.benefit-section {
    background: url('../img/bg.jpg');
    width: 100%;
}

.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}
h1{
    text-align: center;
}